.layout-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    // background-color: #f8f9fa;
}

.layout-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.layout-content {
    flex: 1;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}