.layout-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.layout-content {
    flex: 1;
    padding: 20px 20px 0 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #333;
}